.investments {
    display: flex;
    flex-direction: row;
}

.column{
    margin-right: 10px;
    height: 100vh;
}

.action-button:hover{
    color: inherit;
    opacity: 80%;
}

.investment-actions-container {
    color: #fff;
    background-color: #2c2e35;
    border-radius: 20px;
    flex-direction: column;
    align-items: start;
    font-family:
        Inter,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    overflow-y: auto;
    height: 29%;
    align-items: center;
    width: 25vw;
    /* width: 100%; */
}

.investment-actions {
    background-color: #4d515e;
    border-radius: 12px;
    margin: 15px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    height: 100%;
}

.create-btn {
    display: inline-block;
    background-color: #33ca60;
    border-radius: 10px;
    color: inherit;
    border: none;
    cursor: pointer;
    font: inherit;
    width: 90%;
    text-decoration: none;
}

.dup-btn{
    background-color: #3351ca;
    border-radius: 10px;
    color: inherit;
    border: none;
    cursor: pointer;
    font: inherit;
    width: 90%;
    padding: 0px;
}

.edit-btn{
    display: inline-block;
    background-color: #cab933;
    border-radius: 10px;
    color: inherit;
    border: none;
    cursor: pointer;
    font: inherit;
    width: 90%;
    text-decoration: none;
}

.del-btn{
    background-color: #ca3d33;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font: inherit;
    width: 90%;
    padding: 0px;
}

.scenarioListContainer {
    background-color: #2c2e35;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    display: flex;
    margin-top: 10px;
    height: 50%;
    width: 25vw;
}

.scenario-list{
    background-color: #4d515e;
    border-radius: 12px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 15px;
    width: 94%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    border-bottom: 2px solid #444;
    padding-bottom: 4px;
    padding-top: 5px;
    text-align: left;
    color: rgba(255, 255, 255, 0.87);
}

.header {
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.87);
}

.scenarioItem {
    display: flex;
    justify-content: space-between;
    background-color: #2c2e35;
    color: rgba(255, 255, 255, 0.87);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    margin-bottom: 6px;
    cursor: pointer;
}

.scenarioItem:hover {
    background-color: #373c51;
}

.selectedScenarioItem {
    display: flex;
    justify-content: space-between;
    background-color: #6577b8;
    color: rgba(255, 255, 255, 0.87);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    margin-bottom: 6px;
    cursor: pointer;
}

.investmentListContainer {
    background-color: #2c2e35;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
    /* width: 100%; */
    width: 25vw;
    height: 77%;
    padding: 15px;
}


.investmentList {
    background-color: #4d515e;
    border-radius: 20px;
    /* padding: 15px; */
    color: #ffffff;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.investmentItem {
    display: flex;
    justify-content: spac;
    flex-direction: row;
    background-color: #2c2e35;
    color: rgba(255, 255, 255, 0.87);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 6px;
    cursor: pointer;
}

.investment-span {
    width: 33%;
}

.investmentItem:hover{
    background-color: #373c51;
}

.selectedInvestmentItem {
    display: flex;
    justify-content: space-between;
    background-color: #6577b8;
    color: rgba(255, 255, 255, 0.87);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 6px;
    cursor: pointer;
}

.investment-info-container {
    background-color: #2c2e35;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
    /* width: 100%; */
    width: 25vw;
    height: 77%;
    padding: 15px;
}

.investment-inner-container{
    background-color: #4d515e;
    border-radius: 20px;
    width: 100%;
    text-align: left;
}

.info-row{
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-color: #2c2e35;
    margin-bottom: 3px;
    border-style: solid;
    border-radius: 5px;
    width: 100%;
}

.info-item{
    background-color: #2c2e35;
    margin: 1px 1px 1px 1px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    text-align: center;
}