.strategies {
    display: flex;
    flex-direction: row;
}

.column{
    margin-right: 10px;
    height: 100vh;
}

.spending {
    width: 25%;
}

.action-button:hover{
    color: inherit;
    opacity: 80%;
}

.strategies-inner{
    background-color: #4d515e;
    border-radius: 12px;
    margin: 15px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    height: 100%;
    width: 95%;
    overflow-y: auto;
}

.strategies-list-container{
    color: #fff;
    background-color: #2c2e35;
    border-radius: 20px;
    flex-direction: column;
    align-items: start;
    font-family:
        Inter,
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 85%;
    margin-top: 10px;
}

.active-strategy-type{
    background-color: #6577b8;
}

.strategy-item{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: #2c2e35;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 8px;
    cursor: pointer;
}

.selected-strategy-item{
    display: flex;
    justify-content: space-evenly;
    background-color: #6577b8;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 8px;
    cursor: pointer;
}

.move-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }
  
  .move-button {
    font-size: 1rem;
    padding: 2px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .move-button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

.scenarioListContainer{
    height: 85%;
    width: 100%;
}

.scenarioList {
    background-color: #4d515e;
    margin: 10px;
    border-radius: 12px;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding:10px;
    overflow-y: auto;
    height: 100%;
}